<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %> Photography</title>
	<meta name="description"
		  content="A photography-inspired website layout with an expanding stack slider and a background image tilt effect"/>
	<meta name="keywords"
		  content="photography, template, layout, effect, expand, image stack, animation, flickity, tilt"/>
	<meta name="author" content="Codersgram"/>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="css/flickity.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/modal.css"/>
	<script src="js/modernizr.custom.js"></script>
</head>
<body>
<div class="container">